<mat-toolbar color="primary">

  <mat-toolbar-row>

    <button mat-icon-button>
      <mat-icon (click)="this.onClickMenuIconButton()">menu</mat-icon>
    </button>

    <span>The Iron Bank</span>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>

    <div *ngIf="this.userDataObs | async as userData; else loadingBlock">
      <div *ngIf="userData.isLoggedIn">
        <button mat-icon-button [matMenuTriggerFor]="userMenu">
          <mat-icon>person_outline</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu">
          <mat-card>
            <mat-card-header>
              <img mat-card-avatar [src]="userData.img" height="30" alt="Avatar">
              <mat-card-title>{{ userData.fullName }}</mat-card-title>
              <mat-card-subtitle>{{ userData.userName }}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
          <mat-divider></mat-divider>
          <button mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Editar cuenta</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Cerrar sesión</span>
          </button>
        </mat-menu>
      </div>
    </div>
    <ng-template #loadingBlock>
      Cargando...
    </ng-template>

  </mat-toolbar-row>

</mat-toolbar>
