<app-header (sidenavToggle)="sidenav.toggle()"></app-header>

<div fxLayout="row wrap" fxLayoutAlign="center center" class="layout-wrapper">
    <mat-sidenav-container>
      <mat-sidenav #sidenav mode="side">
        <app-sidenav></app-sidenav>
      </mat-sidenav>
      <mat-sidenav-content>
        <main role="main" class="container">
          <!-- Banner con mensajes -->
          <app-notification></app-notification>
          <!-- AQUI SE EXPANDE LA VISTA DEL COMPONENTE -->
          <router-outlet></router-outlet>
          <!-- El spinner que espera cuando creo un post-->
          <ngx-spinner name="mainSpinner" [fullScreen]="true" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
            type="pacman"></ngx-spinner>
        </main>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>

<!-- /.container -->
